@import url('https://fonts.cdnfonts.com/css/coolvetica');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Coolvetica', sans-serif;
    letter-spacing: 1.7px;
}

.name, .project, .about, .contact {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    box-shadow: 0px -106px 140px 10px #D9D9D9;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.name {
    margin-right: auto;
}

.last-name {
    opacity: 90%;
}

.nav-links, .more-buttons, .abt-button, .right-container li{
    list-style: none;
}

.nav-links li, .more-buttons li, .right-container li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a, .more-buttons li a, .right-container li {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #2977B7;
}

.contact {
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-style: solid;
}

.contact:hover, .proj-button:hover, .resume-button:hover:hover, .lucky-button:hover, .right-container button:hover  {
    opacity: 70%;
}

.text-container {
    padding: 150px;
    color: #ffffff;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 65px;
}

.proj-button, .resume-button, .lucky-button {
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    margin-right: -30px;
    font-size: 20px;
    border-style: solid;
}

.proj-button {
    background-color: #2977B7;
    border-color: #2977B7;
    
}

.abt {
    color: #ffffff;
}

.selfie {
    width: 488px;
    height: 650px;
    border: 13px solid #2977B7;
    float: left;
    margin-right: 80px;
    margin-top: 10px;
}

.abt-button {
    padding: 5px 15px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    margin-right: -30px;
    font-size: 20px;
    border-style: solid;
    margin: 20px;
}

.description {
    display: flex;
    border: 4px;
    border-radius: 15px;
    border-style: solid;
    border-color: #2977B7;
    padding: 20px;
    font-size: 23px;
    margin-right: 50px;
    width: 500px;
}

.career {
    font-size: 48px;
    margin-bottom: 10px;
}

.proj {
    margin-top: 200px;
    width: 488px;
    height: 650px;
}

.proj-title-button {
    padding: 5px 15px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    background-color: #2977B7;
    border-color: #2977B7;
    font-size: 20px;
    border-style: solid;
    margin-left: 45px;
    margin-bottom: 120px;
}


.proj-container {
    color: #ffffff;
    gap: 20px;
    display: flex;
    margin-left: 10%;
}

.proj-container img {
    height: 266px;
    width: 440px;
    border: 3px solid #2977B7;
}

.image-text {
    width: 440px;
    border: 1px solid #2977B7;
    background-color: #2977B7;
    padding: 0px;
    margin-top: -4px;
}

.image-text h5, .image-text span {
    background-color: #2977B7;
    margin-left: 4px;
}

.image-text h5{
    font-size: 20px;
}

.image-text span{
    font-size: 15px;
}

.text {
    text-decoration: none;
    color: #ffffff;
    background-color: #2977B7;
}

.left-container, .right-container {
    height: 100%;
    width: 50%;
    top: 0;
    display: flex;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
}
  
.left-container {
    display: block;
    float: left;
    padding-left: 20px;
}

.left-container h1 { 
    font-size: 100px;
    margin-left: 50px;
}
.left-container a {
   text-decoration: none;
   color: #ffffff;
   padding: 10px;
   font-size: 35px;
   margin-left: 57px;
}
.right-container {
    float: right;
    background-color: #2977B7;
    display: block;
    padding-left: 20px;
    height: 650px;
}

.right-container h1 {
    background-color: #2977B7;
    font-size: 100px;
    padding-left: 20px;
}

.youtube {
    margin: 30px;
}

